<section> 
  <header class="page-header">
    <h1>About</h1>
  </header>
  <p>A place where we used to sell majirijuana but was raided 4 months ago. After attending a correctional facility we have since changed our criminal ways and have reintegrated ourselves into society selling only the finest of legal flora from vaious parts of the world. We naturally carry Evergreens, Shrubs, Trees amonst many other category of plant life to liven up and make your home carry that refreshing jungle smell. We carry only the finest of plant life sourced straight from the jungles of:The Amazon, India, Costa Rica, New Guinea and many more</p>
</section>


